{% extends 'base.html' %}

{% block title %}Forgot your password?{% endblock title %}

{% block content %}
<h2>Forgot your password?</h2>

<p>Enter your email below.</p>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Send me instructions!">
</form>

{% endblock content %}