{% extends 'base.html' %}

{% block title %}Articles{% endblock title%}

{% block content %}
    {% for article in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">{{ article.po_number }}</span> &middot;
                <span class="text-muted">by {{ article.author }} | {{article.date}}</span>
            </div>
            <div class="card-body">
                <h3>Supplier Name</h3>
                   <p>{{ article.supplier_name }}</p>
                <h3>Supplier Address</h3>
                    <p>{{ article.supplier_address }}</p>
                <h3>Supplier Parts</h3>
                    <p>{{ article.supplier_parts }}</p>
            </div>
            <div class="card-footer text-center text-muted">
                <a href="{% url 'article_edit' article.pk %}">Edit </a> | <a href="{% url 'article_delete' article.pk %}">Delete</a>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock content %}