{% extends 'base.html' %}

{% block content %}
    <h1>Edit PO</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-info ml2" type="submit">Update</button>
    </form>
{% endblock content %}