{% extends 'base.html' %}

{% block content %}
<div class="article-entry">
    <h2>{{ object.po_number }}</h2>
    <p>by {{ object.author }} | {{object.date}}</p>
    <h3>Supplier Name</h3>
    <p>{{ article.supplier_name }}</p>
 <h3>Supplier Address</h3>
     <p>{{ article.supplier_address }}</p>
 <h3>Supplier Parts</h3>
     <p>{{ article.supplier_parts }}</p>
</div>

<p>
    <a href="{% url 'article_edit' article.pk %}">
        Edit
    </a>
    | 
    <a href="{% url 'article_delete' article.pk %}">
        Delete
    </a>
</p>

<p>
    Back to <a href="{% url 'article_list' %}">All articles</a>.
</p>

{% endblock content %}