{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Sign Up</h2>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}    
    <button class="btn btn-success" type="submit">Sign Up</button>
</form>
{% endblock content %}